<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <meta name="theme-color" content="#ca1c64">
    <!-- iOS용 홈화면 아이콘 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
</head>

<body>
    <h2>로그인</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="이름" required><br>
        <input type="text" name="student_id" placeholder="학번 (8자리)" required><br>
        <input type="password" name="password" placeholder="비밀번호" required><br>
        <input type="file" name="photo" accept="image/*"><br>
        <button type="submit">로그인</button>
    </form>
</body>
</html>
